<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Todo - List - Add</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <script src="jquery-3.6.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
        <h1>Todo List Management</h1>
        <form id="add-task-form">
          <label placeholder="Enter title here" >Title:</label>
          <input type="text" id="titleAddTodo" name="title" required>

          <label placeholder="Enter Description here">Description:</label>
          <textarea id="descriptionAddTodo" name="description"></textarea>

          <label placeholder="Enter startdate here">Start Date:</label>
          <input type="date" id="startdateAddTodo" name="start-date" required>

          <label placeholder="Enter duedate here">Due Date:</label>
          <input type="date" id="duedateAddTodo" name="due-date" required>

          <label placeholder="Enter status here">Status:</label>
          <input type="text" id="statusAddTodo" name="status" required>

          <label placeholder="Enter functions here">Functions:</label>
          <input type="text" id="functionsAddTodo" name="functions" required>

          <button type="button" onclick="addTodo()"
                  class="btn btn-primary py-2 px-4" >Add Task</button>
          <a th:href="@{/index}"> <- Back to Task List</a>
        </form>
</body>
<script th:src="@{/todo.js}"></script>
</html>